.text-align-left{text-align:left;}.text-align-right{text-align:right;}.text-align-center{text-align:center;}.text-align-justify{text-align:justify;}.align-left{float:left;}.align-right{float:right;}.align-center{display:block;margin-left:auto;margin-right:auto;}
.fieldgroup{border-width:0;padding:0;}
.container-inline div,.container-inline label{display:inline-block;}.container-inline .details-wrapper{display:block;}
.clearfix:after{content:"";display:table;clear:both;}
.js details:not([open]) .details-wrapper{display:none;}
.hidden{display:none;}.visually-hidden{position:absolute !important;clip:rect(1px,1px,1px,1px);overflow:hidden;height:1px;width:1px;word-wrap:normal;}.visually-hidden.focusable:active,.visually-hidden.focusable:focus{position:static !important;clip:auto;overflow:visible;height:auto;width:auto;}.invisible{visibility:hidden;}
.item-list__comma-list,.item-list__comma-list li{display:inline;}.item-list__comma-list{margin:0;padding:0;}.item-list__comma-list li:after{content:", ";}.item-list__comma-list li:last-child:after{content:"";}
.js .js-hide{display:none;}.js-show{display:none;}.js .js-show{display:block;}
.nowrap{white-space:nowrap;}
.position-container{position:relative;}
.progress{position:relative;}.progress__track{background-color:#fff;border:1px solid;margin-top:5px;max-width:100%;min-width:100px;height:16px;}.progress__bar{background-color:#000;height:16px;width:3%;min-width:3%;max-width:100%;}.progress__description,.progress__percentage{color:#555;overflow:hidden;font-size:0.875em;margin-top:0.2em;}.progress__description{float:left;}[dir="rtl"] .progress__description{float:right;}.progress__percentage{float:right;}[dir="rtl"] .progress__percentage{float:left;}.progress--small .progress__track{height:7px;}.progress--small .progress__bar{height:7px;background-size:20px 20px;}
.reset-appearance{-webkit-appearance:none;-moz-appearance:none;appearance:none;border:0 none;background:transparent;padding:0;margin:0;line-height:inherit;}
.resize-none{resize:none;}.resize-vertical{resize:vertical;min-height:2em;}.resize-horizontal{resize:horizontal;max-width:100%;}.resize-both{resize:both;max-width:100%;min-height:2em;}
table.sticky-header{background-color:#fff;margin-top:0;z-index:500;top:0;}
.system-status-counter__status-icon{display:inline-block;height:25px;width:25px;vertical-align:middle;}.system-status-counter__status-icon:before{content:"";background-size:16px;background-position:center 2px;background-repeat:no-repeat;width:100%;height:100%;display:block;}.system-status-counter__status-icon--error:before{background-image:url(/core/misc/icons/e32700/error.svg);}.system-status-counter__status-icon--warning:before{background-image:url(/core/misc/icons/e29700/warning.svg);}.system-status-counter__status-icon--checked:before{background-image:url(/core/misc/icons/73b355/check.svg);}
.system-status-report-counters__item{width:100%;padding:0.5em 0;text-align:center;white-space:nowrap;background-color:rgba(0,0,0,0.063);margin-bottom:0.5em;}@media screen and (min-width:60em){.system-status-report-counters{flex-wrap:wrap;display:flex;justify-content:space-between;}.system-status-report-counters__item--half-width{width:49%;}.system-status-report-counters__item--third-width{width:33%;}}
.system-status-general-info__item{border:1px solid #ccc;margin-top:1em;padding:0 1em 1em;}.system-status-general-info__item-title{border-bottom:1px solid #ccc;}
.tablesort{width:16px;height:16px;display:inline-block;background-size:100%;}.tablesort--asc{background-image:url(/core/misc/icons/787878/twistie-down.svg);}.tablesort--desc{background-image:url(/core/misc/icons/787878/twistie-up.svg);}
div.tree-child{background:url(/core/misc/tree.png) no-repeat 11px center;}div.tree-child-last{background:url(/core/misc/tree-bottom.png) no-repeat 11px center;}[dir="rtl"] div.tree-child,[dir="rtl"] div.tree-child-last{background-position:-65px center;}div.tree-child-horizontal{background:url(/core/misc/tree.png) no-repeat -11px center;}
.views-align-left{text-align:left;}.views-align-right{text-align:right;}.views-align-center{text-align:center;}.views-view-grid .views-col{float:left;}.views-view-grid .views-row{clear:both;float:left;width:100%;}
#toolbar-administration,#toolbar-administration *{box-sizing:border-box;}#toolbar-administration{font-size:small;line-height:1;margin:0;padding:0;vertical-align:baseline;}@media print{#toolbar-administration{display:none;}}.toolbar-loading #toolbar-administration{overflow:hidden;}.toolbar li,.toolbar .item-list,.toolbar .item-list li,.toolbar .menu-item,.toolbar .menu-item--expanded{list-style-type:none;list-style-image:none;}.toolbar .menu-item{padding-top:0;}.toolbar .toolbar-bar .toolbar-tab,.toolbar .menu-item{display:block;}.toolbar .toolbar-bar .toolbar-tab.hidden{display:none;}.toolbar a{display:block;line-height:1;}.toolbar .toolbar-bar,.toolbar .toolbar-tray{position:relative;z-index:1250;}.toolbar-horizontal .toolbar-tray{position:fixed;width:100%;left:0;}.toolbar-oriented .toolbar-bar{left:0;position:absolute;right:0;top:0;}.toolbar-oriented .toolbar-tray{left:0;position:absolute;right:0;}@media (min-width:61em){.toolbar-loading.toolbar-horizontal .toolbar .toolbar-bar .toolbar-tab:last-child .toolbar-tray{position:relative;display:block;z-index:-999;visibility:hidden;width:1px;}.toolbar-loading.toolbar-horizontal .toolbar .toolbar-bar .toolbar-tab:last-child .toolbar-tray .toolbar-lining{width:999em;}.toolbar-loading.toolbar-horizontal .toolbar .toolbar-bar .home-toolbar-tab + .toolbar-tab .toolbar-tray{display:block;}}.toolbar-oriented .toolbar-bar{z-index:502;}body.toolbar-fixed .toolbar-oriented .toolbar-bar{position:fixed;}body.toolbar-tray-open.toolbar-fixed.toolbar-vertical .toolbar-oriented{bottom:0;width:240px;width:15rem;}.toolbar-loading.toolbar-horizontal .toolbar .toolbar-tray .toolbar-menu > li,.toolbar .toolbar-bar .toolbar-tab,.toolbar .toolbar-tray-horizontal li{float:left;}[dir="rtl"] .toolbar-loading.toolbar-horizontal .toolbar .toolbar-tray .toolbar-menu > li,[dir="rtl"] .toolbar .toolbar-bar .toolbar-tab,[dir="rtl"] .toolbar .toolbar-tray-horizontal li{float:right;}@media only screen{.toolbar .toolbar-bar .toolbar-tab,.toolbar .toolbar-tray-horizontal li{float:none;}[dir="rtl"] .toolbar .toolbar-bar .toolbar-tab,[dir="rtl"] .toolbar .toolbar-tray-horizontal li{float:none;}}@media (min-width:16.5em){.toolbar .toolbar-bar .toolbar-tab,.toolbar .toolbar-tray-horizontal li{float:left;}[dir="rtl"] .toolbar .toolbar-bar .toolbar-tab,[dir="rtl"] .toolbar .toolbar-tray-horizontal li{float:right;}}.toolbar-oriented .toolbar-bar .toolbar-tab,.toolbar-oriented .toolbar-tray-horizontal li{float:left;}[dir="rtl"] .toolbar-oriented .toolbar-bar .toolbar-tab,[dir="rtl"] .toolbar-oriented .toolbar-tray-horizontal li{float:right;}.toolbar .toolbar-tray{display:none;z-index:501;}.toolbar-oriented .toolbar-tray-vertical{left:-100%;position:absolute;width:240px;width:15rem;}[dir="rtl"] .toolbar-oriented .toolbar-tray-vertical{left:auto;right:-100%;}.toolbar .toolbar-tray-vertical > .toolbar-lining{min-height:100%;}.toolbar .toolbar-tray-vertical > .toolbar-lining:before{width:100%;}.toolbar-oriented .toolbar-tray-vertical > .toolbar-lining:before{bottom:0;content:'';display:block;left:0;position:fixed;top:0;width:240px;width:14rem;z-index:-1;}[dir="rtl"] .toolbar .toolbar-tray-vertical > .toolbar-lining:before{left:auto;right:0;}.toolbar .toolbar-bar .toolbar-tab > .toolbar-icon{position:relative;z-index:502;}.toolbar-oriented .toolbar-tray-horizontal .menu-item ul{display:none;}.toolbar .toolbar-tray-vertical.is-active,body.toolbar-fixed .toolbar .toolbar-tray-vertical{height:100%;overflow-x:hidden;overflow-y:auto;position:fixed;}.toolbar .toolbar-tray.is-active{display:block;}.toolbar-oriented .toolbar-tray-vertical.is-active{left:0;}[dir="rtl"] .toolbar-oriented .toolbar-tray-vertical.is-active{left:auto;right:0;}body.toolbar-tray-open.toolbar-vertical.toolbar-fixed{margin-left:240px;margin-left:15rem;}@media print{body.toolbar-tray-open.toolbar-vertical.toolbar-fixed{margin-left:0;}}[dir="rtl"] body.toolbar-tray-open.toolbar-vertical.toolbar-fixed{margin-left:auto;margin-right:240px;margin-right:15rem;}@media print{[dir="rtl"] body.toolbar-tray-open.toolbar-vertical.toolbar-fixed{margin-right:0;}}.toolbar .toolbar-tray .toolbar-toggle-orientation{display:none;}.toolbar-oriented .toolbar-tray .toolbar-toggle-orientation{display:block;}.toolbar-oriented .toolbar-tray-horizontal .toolbar-toggle-orientation{bottom:0;position:absolute;right:0;top:auto;}[dir="rtl"] .toolbar-oriented .toolbar-tray-horizontal .toolbar-toggle-orientation{left:0;right:auto;}.toolbar-oriented .toolbar-tray-vertical .toolbar-toggle-orientation{float:right;width:100%;}[dir="rtl"] .toolbar-oriented .toolbar-tray-vertical .toolbar-toggle-orientation{float:left;}.toolbar .toolbar-bar .home-toolbar-tab{display:none;}.path-admin .toolbar-bar .home-toolbar-tab{display:block;}
.ui-helper-hidden{display:none;}.ui-helper-hidden-accessible{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}.ui-helper-reset{margin:0;padding:0;border:0;outline:0;line-height:1.3;text-decoration:none;font-size:100%;list-style:none;}.ui-helper-clearfix:before,.ui-helper-clearfix:after{content:"";display:table;border-collapse:collapse;}.ui-helper-clearfix:after{clear:both;}.ui-helper-zfix{width:100%;height:100%;top:0;left:0;position:absolute;opacity:0;filter:Alpha(Opacity=0);}.ui-front{z-index:100;}.ui-state-disabled{cursor:default !important;pointer-events:none;}.ui-icon{display:inline-block;vertical-align:middle;margin-top:-.25em;position:relative;text-indent:-99999px;overflow:hidden;background-repeat:no-repeat;}.ui-widget-icon-block{left:50%;margin-left:-8px;display:block;}.ui-widget-overlay{position:fixed;top:0;left:0;width:100%;height:100%;}
.ui-menu{list-style:none;padding:0;margin:0;display:block;outline:0;}.ui-menu .ui-menu{position:absolute;}.ui-menu .ui-menu-item{margin:0;cursor:pointer;list-style-image:url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");}.ui-menu .ui-menu-item-wrapper{position:relative;padding:3px 1em 3px .4em;}.ui-menu .ui-menu-divider{margin:5px 0;height:0;font-size:0;line-height:0;border-width:1px 0 0 0;}.ui-menu .ui-state-focus,.ui-menu .ui-state-active{margin:-1px;}.ui-menu-icons{position:relative;}.ui-menu-icons .ui-menu-item-wrapper{padding-left:2em;}.ui-menu .ui-icon{position:absolute;top:0;bottom:0;left:.2em;margin:auto 0;}.ui-menu .ui-menu-icon{left:auto;right:0;}
.ui-autocomplete{position:absolute;top:0;left:0;cursor:default;}
.toolbar .toolbar-menu,[dir="rtl"] .toolbar .toolbar-menu{list-style:none;margin:0;padding:0;}.toolbar .toolbar-box{display:block;line-height:1em;position:relative;width:auto;}.toolbar .toolbar-tray-vertical .toolbar-menu ul{display:none;}.toolbar .toolbar-tray-horizontal .toolbar-menu .toolbar-handle{display:none;}.toolbar-tray-open .toolbar-menu .menu-item--expanded ul{display:none;}.toolbar .toolbar-tray-vertical li.open > ul{display:block;}.toolbar .toolbar-tray-vertical .toolbar-handle + a{margin-right:3em;}[dir="rtl"] .toolbar .toolbar-tray-vertical .toolbar-handle + a{margin-left:3em;margin-right:0;}.toolbar .toolbar-tray .menu-item--active-trail > .toolbar-box a,.toolbar .toolbar-tray a.is-active{color:#000;font-weight:bold;}@media screen and (max-width:319px){.toolbar .toolbar-tray-vertical.is-active{width:100%;}}.toolbar .level-2 > ul{background-color:#fafafa;border-bottom-color:#ccc;border-top-color:#e5e5e5;}.toolbar .level-3 > ul{background-color:#f5f5f5;border-bottom-color:#c5c5c5;border-top-color:#ddd;}.toolbar .level-4 > ul{background-color:#eee;border-bottom-color:#bbb;border-top-color:#d5d5d5;}.toolbar .level-5 > ul{background-color:#e5e5e5;border-bottom-color:#b5b5b5;border-top-color:#ccc;}.toolbar .level-6 > ul{background-color:#eee;border-bottom-color:#aaa;border-top-color:#c5c5c5;}.toolbar .level-7 > ul{background-color:#fafafa;border-bottom-color:#b5b5b5;border-top-color:#ccc;}.toolbar .level-8 > ul{background-color:#ddd;border-bottom-color:#ccc;border-top-color:#ddd;}.toolbar .toolbar-handle:hover{cursor:pointer;}.toolbar .toolbar-icon.toolbar-handle{bottom:0;display:block;height:100%;padding:0;position:absolute;right:0;top:0;z-index:1;}[dir="rtl"] .toolbar .toolbar-icon.toolbar-handle{left:0;padding:0;right:auto;}
.toolbar{font-family:"Source Sans Pro","Lucida Grande",Verdana,sans-serif;font-size:0.8125rem;-moz-tap-highlight-color:rgba(0,0,0,0);-o-tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color:rgba(0,0,0,0);tap-highlight-color:rgba(0,0,0,0);-moz-touch-callout:none;-o-touch-callout:none;-webkit-touch-callout:none;touch-callout:none;}.toolbar .toolbar-item{cursor:pointer;padding:1em 1.3333em;line-height:1em;text-decoration:none;}.toolbar .toolbar-item:hover,.toolbar .toolbar-item:focus{text-decoration:underline;}.toolbar .toolbar-bar{background-color:#0f0f0f;box-shadow:-1px 0 3px 1px rgba(0,0,0,0.3333);color:#ddd;}[dir="rtl"] .toolbar .toolbar-bar{box-shadow:1px 0 3px 1px rgba(0,0,0,0.3333);}.toolbar .toolbar-bar .toolbar-item{color:#fff;}.toolbar .toolbar-bar .toolbar-tab > .toolbar-item{font-weight:bold;}.toolbar .toolbar-bar .toolbar-tab > .toolbar-item:hover,.toolbar .toolbar-bar .toolbar-tab > .toolbar-item:focus{background-image:-webkit-linear-gradient(rgba(255,255,255,0.125) 20%,transparent 200%);background-image:linear-gradient(rgba(255,255,255,0.125) 20%,transparent 200%);}.toolbar .toolbar-bar .toolbar-tab > .toolbar-item.is-active{background-image:-webkit-linear-gradient(rgba(255,255,255,0.25) 20%,transparent 200%);background-image:linear-gradient(rgba(255,255,255,0.25) 20%,transparent 200%);}.toolbar .toolbar-tray{background-color:#fff;}.toolbar-horizontal .toolbar-tray > .toolbar-lining{padding-right:5em;}[dir="rtl"] .toolbar-horizontal .toolbar-tray > .toolbar-lining{padding-right:0;padding-left:5em;}.toolbar .toolbar-tray-vertical{background-color:#f5f5f5;border-right:1px solid #aaa;box-shadow:-1px 0 5px 2px rgba(0,0,0,0.3333);}[dir="rtl"] .toolbar .toolbar-tray-vertical{border-left:1px solid #aaa;border-right:0 none;box-shadow:1px 0 5px 2px rgba(0,0,0,0.3333);}.toolbar-horizontal .toolbar-tray{border-bottom:1px solid #aaa;box-shadow:-2px 1px 3px 1px rgba(0,0,0,0.3333);}[dir="rtl"] .toolbar-horizontal .toolbar-tray{box-shadow:2px 1px 3px 1px rgba(0,0,0,0.3333);}.toolbar .toolbar-tray-horizontal .toolbar-tray{background-color:#f5f5f5;}.toolbar-tray a{color:#565656;cursor:pointer;padding:1em 1.3333em;text-decoration:none;}.toolbar-tray a:hover,.toolbar-tray a:active,.toolbar-tray a:focus,.toolbar-tray a.is-active{color:#000;text-decoration:underline;}.toolbar .toolbar-menu{background-color:#fff;}.toolbar-horizontal .toolbar-tray .menu-item + .menu-item{border-left:1px solid #ddd;}[dir="rtl"] .toolbar-horizontal .toolbar-tray .menu-item + .menu-item{border-left:0 none;border-right:1px solid #ddd;}.toolbar-horizontal .toolbar-tray .menu-item:last-child{border-right:1px solid #ddd;}[dir="rtl"] .toolbar-horizontal .toolbar-tray .menu-item:last-child{border-left:1px solid #ddd;}.toolbar .toolbar-tray-vertical .menu-item + .menu-item{border-top:1px solid #ddd;}.toolbar .toolbar-tray-vertical .menu-item:last-child{border-bottom:1px solid #ddd;}.toolbar .toolbar-tray-vertical .menu-item .menu-item{border:0 none;}.toolbar .toolbar-tray-vertical .toolbar-menu ul ul{border-bottom:1px solid #ddd;border-top:1px solid #ddd;}.toolbar .toolbar-tray-vertical .menu-item:last-child > ul{border-bottom:0;}.toolbar .toolbar-tray-vertical .toolbar-menu .toolbar-menu .toolbar-menu .toolbar-menu{margin-left:0.25em;}[dir="rtl"] .toolbar .toolbar-tray-vertical .toolbar-menu .toolbar-menu .toolbar-menu .toolbar-menu{margin-left:0;margin-right:0.25em;}.toolbar .toolbar-menu .toolbar-menu a{color:#434343;}.toolbar .toolbar-toggle-orientation{background-color:#f5f5f5;padding:0;height:100%;}.toolbar-horizontal .toolbar-tray .toolbar-toggle-orientation{border-left:1px solid #c9c9c9;}[dir="rtl"] .toolbar-horizontal .toolbar-tray .toolbar-toggle-orientation{border-left:0 none;border-right:1px solid #c9c9c9;}.toolbar .toolbar-toggle-orientation > .toolbar-lining{float:right;}[dir="rtl"] .toolbar .toolbar-toggle-orientation > .toolbar-lining{float:left;}.toolbar .toolbar-toggle-orientation button{cursor:pointer;display:inline-block;}
.toolbar .toolbar-icon{padding-left:2.75em;position:relative;}[dir="rtl"] .toolbar .toolbar-icon{padding-left:1.3333em;padding-right:2.75em;}.toolbar .toolbar-icon:before{background-attachment:scroll;background-color:transparent;background-position:center center;background-repeat:no-repeat;background-size:100% auto;content:'';display:block;height:100%;left:0.6667em;position:absolute;top:0;width:20px;}[dir="rtl"] .toolbar .toolbar-icon:before{left:auto;right:0.6667em;}.toolbar button.toolbar-icon{background-color:transparent;border:0;font-size:1em;}.toolbar .toolbar-menu ul .toolbar-icon{padding-left:1.3333em;}[dir="rtl"] .toolbar .toolbar-menu ul .toolbar-icon{padding-left:0;padding-right:1.3333em;}.toolbar .toolbar-menu ul a.toolbar-icon:before{display:none;}.toolbar .toolbar-tray-vertical .toolbar-menu ul a{padding-left:2.75em;}[dir="rtl"] .toolbar .toolbar-tray-vertical .toolbar-menu ul a{padding-left:0;padding-right:2.75em;}.toolbar .toolbar-tray-vertical .toolbar-menu ul ul a{padding-left:3.75em;}[dir="rtl"] .toolbar .toolbar-tray-vertical .toolbar-menu ul ul a{padding-left:0;padding-right:3.75em;}.toolbar .toolbar-tray-vertical .toolbar-menu a{padding-left:2.75em;padding-right:4em;}[dir="rtl"] .toolbar .toolbar-tray-vertical .toolbar-menu a{padding-left:4em;padding-right:2.75em;}.toolbar-bar .toolbar-icon-menu:before{background-image:url(/core/misc/icons/bebebe/hamburger.svg);}.toolbar-bar .toolbar-icon-menu:active:before,.toolbar-bar .toolbar-icon-menu.is-active:before{background-image:url(/core/misc/icons/ffffff/hamburger.svg);}.toolbar-bar .toolbar-icon-help:before{background-image:url(/core/misc/icons/bebebe/questionmark-disc.svg);}.toolbar-bar .toolbar-icon-help:active:before,.toolbar-bar .toolbar-icon-help.is-active:before{background-image:url(/core/misc/icons/ffffff/questionmark-disc.svg);}.toolbar-icon-system-admin-content:before{background-image:url(/core/misc/icons/787878/file.svg);}.toolbar-icon-system-admin-content:active:before,.toolbar-icon-system-admin-content.is-active:before{background-image:url(/core/misc/icons/000000/file.svg);}.toolbar-icon-system-admin-structure:before{background-image:url(/core/misc/icons/787878/orgchart.svg);}.toolbar-icon-system-admin-structure:active:before,.toolbar-icon-system-admin-structure.is-active:before{background-image:url(/core/misc/icons/000000/orgchart.svg);}.toolbar-icon-system-themes-page:before{background-image:url(/core/misc/icons/787878/paintbrush.svg);}.toolbar-icon-system-themes-page:active:before,.toolbar-icon-system-themes-page.is-active:before{background-image:url(/core/misc/icons/000000/paintbrush.svg);}.toolbar-icon-entity-user-collection:before{background-image:url(/core/misc/icons/787878/people.svg);}.toolbar-icon-entity-user-collection:active:before,.toolbar-icon-entity-user-collection.is-active:before{background-image:url(/core/misc/icons/000000/people.svg);}.toolbar-icon-system-modules-list:before{background-image:url(/core/misc/icons/787878/puzzlepiece.svg);}.toolbar-icon-system-modules-list:active:before,.toolbar-icon-system-modules-list.is-active:before{background-image:url(/core/misc/icons/000000/puzzlepiece.svg);}.toolbar-icon-system-admin-config:before{background-image:url(/core/misc/icons/787878/wrench.svg);}.toolbar-icon-system-admin-config:active:before,.toolbar-icon-system-admin-config.is-active:before{background-image:url(/core/misc/icons/000000/wrench.svg);}.toolbar-icon-system-admin-reports:before{background-image:url(/core/misc/icons/787878/barchart.svg);}.toolbar-icon-system-admin-reports:active:before,.toolbar-icon-system-admin-reports.is-active:before{background-image:url(/core/misc/icons/000000/barchart.svg);}.toolbar-icon-help-main:before{background-image:url(/core/misc/icons/787878/questionmark-disc.svg);}.toolbar-icon-help-main:active:before,.toolbar-icon-help-main.is-active:before{background-image:url(/core/misc/icons/000000/questionmark-disc.svg);}@media only screen and (min-width:16.5em){.toolbar .toolbar-bar .toolbar-tab > .toolbar-icon{margin-left:0;margin-right:0;padding-left:0;padding-right:0;text-indent:-9999px;width:4em;}.toolbar .toolbar-bar .toolbar-tab > .toolbar-icon:before{background-size:42% auto;left:0;width:100%;}.no-svg .toolbar .toolbar-bar .toolbar-tab > .toolbar-icon:before{background-size:auto auto;}[dir="rtl"] .toolbar .toolbar-bar .toolbar-tab > .toolbar-icon:before{left:auto;right:0;}}@media only screen and (min-width:36em){.toolbar .toolbar-bar .toolbar-tab > .toolbar-icon{background-position:left center;padding-left:2.75em;padding-right:1.3333em;text-indent:0;width:auto;}[dir="rtl"] .toolbar .toolbar-bar .toolbar-tab > .toolbar-icon{background-position:right center;padding-left:1.3333em;padding-right:2.75em;}.toolbar .toolbar-bar .toolbar-tab > .toolbar-icon:before{background-size:100% auto;left:0.6667em;width:20px;}.no-svg .toolbar .toolbar-bar .toolbar-tab > .toolbar-icon:before{background-size:auto auto;}[dir="rtl"] .toolbar .toolbar-bar .toolbar-tab > .toolbar-icon:before{left:0;right:0.6667em;}}.toolbar-tab a:focus{outline:none;text-decoration:underline;}.toolbar-lining button:focus{outline:none;}.toolbar-tray-horizontal a:focus,.toolbar-box a:focus{outline:none;background-color:#f5f5f5;}.toolbar-box a:hover:focus{text-decoration:underline;}.toolbar .toolbar-icon.toolbar-handle:focus{outline:none;background-color:#f5f5f5;}.toolbar .toolbar-icon.toolbar-handle{width:4em;text-indent:-9999px;}.toolbar .toolbar-icon.toolbar-handle:before{left:1.6667em;}[dir="rtl"] .toolbar .toolbar-icon.toolbar-handle:before{left:auto;right:1.6667em;}.toolbar .toolbar-icon.toolbar-handle:before{background-image:url(/core/misc/icons/5181c6/chevron-disc-down.svg);}.toolbar .toolbar-icon.toolbar-handle.open:before{background-image:url(/core/misc/icons/787878/chevron-disc-up.svg);}.toolbar .toolbar-menu .toolbar-menu .toolbar-icon.toolbar-handle:before{background-image:url(/core/misc/icons/5181c6/twistie-down.svg);background-size:75%;}.toolbar .toolbar-menu .toolbar-menu .toolbar-icon.toolbar-handle.open:before{background-image:url(/core/misc/icons/787878/twistie-up.svg);background-size:75%;}.toolbar .toolbar-icon-escape-admin:before{background-image:url(/core/misc/icons/bebebe/chevron-disc-left.svg);}[dir="rtl"] .toolbar .toolbar-icon-escape-admin:before{background-image:url(/core/misc/icons/bebebe/chevron-disc-right.svg);}.toolbar .toolbar-toggle-orientation button{height:39px;padding:0;text-indent:-999em;width:39px;}.toolbar .toolbar-toggle-orientation button:before{left:0;right:0;margin:0 auto;}[dir="rtl"] .toolbar .toolbar-toggle-orientation .toolbar-icon{padding:0;}.toolbar .toolbar-toggle-orientation [value="vertical"]:before{background-image:url(/core/misc/icons/bebebe/push-left.svg);}.toolbar .toolbar-toggle-orientation [value="vertical"]:hover:before,.toolbar .toolbar-toggle-orientation [value="vertical"]:focus:before{background-image:url(/core/misc/icons/787878/push-left.svg);}[dir="rtl"] .toolbar .toolbar-toggle-orientation [value="vertical"]:before{background-image:url(/core/misc/icons/bebebe/push-right.svg);}[dir="rtl"] .toolbar .toolbar-toggle-orientation [value="vertical"]:hover:before,[dir="rtl"] .toolbar .toolbar-toggle-orientation [value="vertical"]:focus:before{background-image:url(/core/misc/icons/787878/push-right.svg);}.toolbar .toolbar-toggle-orientation [value="horizontal"]:before{background-image:url(/core/misc/icons/bebebe/push-up.svg);}.toolbar .toolbar-toggle-orientation [value="horizontal"]:hover:before,.toolbar .toolbar-toggle-orientation [value="horizontal"]:focus:before{background-image:url(/core/misc/icons/787878/push-up.svg);}
.toolbar-icon-system-admin-group:before{background-image:url(/modules/contrib/group/images/icons/787878/toolbar.svg);}.toolbar-icon-system-admin-group:active:before,.toolbar-icon-system-admin-group.is-active:before{background-image:url(/modules/contrib/group/images/icons/000000/toolbar.svg);}
.toolbar-bar .toolbar-icon-user:before{background-image:url(/core/misc/icons/bebebe/person.svg);}.toolbar-bar .toolbar-icon-user:active:before,.toolbar-bar .toolbar-icon-user.is-active:before{background-image:url(/core/misc/icons/ffffff/person.svg);}
.toolbar-icon-admin-toolbar-tools-help{text-indent:-9999px;}.toolbar-icon-admin-toolbar-tools-help:before{background-image:url(/modules/contrib/admin_toolbar/admin_toolbar_tools/misc/icons/ffffff/d8-item.svg);padding-bottom:0;padding-left:4px;padding-right:8px;padding-top:2px;}.toolbar-icon-admin-toolbar-tools-help:active:before,.toolbar-icon-admin-toolbar-tools-help.active:before{background-image:url(/modules/contrib/admin_toolbar/admin_toolbar_tools/misc/icons/ffffff/d8-item.svg);}
.toolbar-tray-horizontal .menu-item:hover{background:#fff;}.toolbar-tray-horizontal .menu-item a:focus{background:#abeae4;}.toolbar-tray-horizontal .toolbar-menu:not(:first-child) li.menu-item--expanded > a:focus{background-position:center right;background-image:url(/modules/contrib/admin_toolbar/misc/icons/0074bd/chevron-right.svg);background-repeat:no-repeat;}.toolbar-tray-horizontal .menu-item--expanded .menu{background:#fff;width:auto;height:auto;}.toolbar-tray-horizontal .menu-item--expanded{background-color:#f5f5f2;}.toolbar-tray-horizontal ul li li.menu-item{border-top:none transparent;border-right:1px solid #dddddd;border-bottom:1px solid #dddddd;border-left:1px solid #dddddd;}.toolbar .toolbar-tray-horizontal .menu-item:last-child{border-left:1px solid #dddddd;border-right:1px solid #dddddd;}.toolbar .toolbar-tray-horizontal ul ul li.menu-item:first-child{border-top:1px solid #dddddd;}.toolbar-tray-horizontal li.menu-item--expanded.hover-intent ul ul,.toolbar-tray-horizontal li.menu-item--expanded.hover-intent ul ul ul,.toolbar-tray-horizontal li.menu-item--expanded.hover-intent ul ul ul ul,.toolbar-tray-horizontal li.menu-item--expanded.hover-intent ul ul ul ul ul{display:none;left:-999em;}.toolbar-tray-horizontal li.menu-item--expanded.hover-intent ul,.toolbar-tray-horizontal li li.menu-item--expanded.hover-intent ul,.toolbar-tray-horizontal li li li.menu-item--expanded.hover-intent ul,.toolbar-tray-horizontal li li li li.menu-item--expanded.hover-intent ul,.toolbar-tray-horizontal li li li li li.menu-item--expanded.hover-intent ul{display:block;left:auto;}.toolbar-tray-horizontal .menu ul li a,.toolbar-tray-horizontal .menu ul .toolbar-icon{padding:12px 15px 12px 12px;}.toolbar-tray-horizontal ul li.menu-item--expanded.hover-intent ul{display:block;position:absolute;width:200px;box-shadow:2px 2px 3px hsla(0,0%,0%,0.4);z-index:1;}.toolbar-tray-horizontal ul li.menu-item--expanded .menu-item > ul{display:none;}.toolbar-tray-horizontal ul li.menu-item--expanded ul li.menu-item--expanded{background-position:center right;background-image:url(/modules/contrib/admin_toolbar/misc/icons/0074bd/chevron-right.svg);background-repeat:no-repeat;}.toolbar-tray-horizontal ul li.menu-item--expanded .menu-item.hover-intent ul{display:block;margin:-40px 0 0 197px;}.toolbar-tray-horizontal li:hover ul li{float:none;}.toolbar-tray-horizontal li.hover-intent ul li{float:none;}.toolbar-tray-horizontal .toolbar .level-2 > ul{position:absolute;padding-top:0;top:0;left:200px;width:200px;}.toolbar .toolbar-tray-vertical li.open > ul.toolbar-menu.clearfix{display:block;}[dir="rtl"] .toolbar-tray-horizontal .menu-item:hover{background:#fff;}[dir="rtl"] .toolbar-tray-horizontal .menu-item a:focus{background:#abeae4;}[dir="rtl"] .toolbar-tray-horizontal .toolbar-menu:not(:first-child) li.menu-item--expanded > a:focus{background-position:center right;background-image:url(/modules/contrib/admin_toolbar/misc/icons/0074bd/chevron-right.svg);background-repeat:no-repeat;}[dir="rtl"] .toolbar-tray-horizontal .menu-item--expanded .menu{background:#fff;width:auto;height:auto;}[dir="rtl"] .toolbar-tray-horizontal .menu-item--expanded{background-color:#f5f5f2;}[dir="rtl"] .toolbar-tray-horizontal ul li li.menu-item{border-top:none transparent;border-right:1px solid #dddddd;border-bottom:1px solid #dddddd;border-left:1px solid #dddddd;}[dir="rtl"] .toolbar .toolbar-tray-horizontal .menu-item:last-child{border-left:1px solid #dddddd;border-right:1px solid #dddddd;}[dir="rtl"] .toolbar .toolbar-tray-horizontal ul ul li.menu-item:first-child{border-top:1px solid #dddddd;}[dir="rtl"] .toolbar-tray-horizontal li.menu-item--expanded.hover-intent ul ul,[dir="rtl"] .toolbar-tray-horizontal li.menu-item--expanded.hover-intent ul ul ul,[dir="rtl"] .toolbar-tray-horizontal li.menu-item--expanded.hover-intent ul ul ul ul,[dir="rtl"] .toolbar-tray-horizontal li.menu-item--expanded.hover-intent ul ul ul ul ul{display:none;left:-999em;}[dir="rtl"] .toolbar-tray-horizontal li.menu-item--expanded.hover-intent ul,[dir="rtl"] .toolbar-tray-horizontal li li.menu-item--expanded.hover-intent ul,[dir="rtl"] .toolbar-tray-horizontal li li li.menu-item--expanded.hover-intent ul,[dir="rtl"] .toolbar-tray-horizontal li li li li.menu-item--expanded.hover-intent ul,[dir="rtl"] .toolbar-tray-horizontal li li li li li.menu-item--expanded.hover-intent ul{display:block;left:auto;}[dir="rtl"] .toolbar-tray-horizontal .menu ul li a,[dir="rtl"] .toolbar-tray-horizontal .menu ul .toolbar-icon{padding:12px 15px 12px 12px;}[dir="rtl"] .toolbar-tray-horizontal ul li.menu-item--expanded.hover-intent ul{display:block;position:absolute;width:200px;box-shadow:2px 2px 3px hsla(0,0%,0%,0.4);z-index:1;}[dir="rtl"] .toolbar-tray-horizontal ul li.menu-item--expanded .menu-item > ul{display:none;}[dir="rtl"] .toolbar-tray-horizontal ul li.menu-item--expanded ul li.menu-item--expanded{background-position:center left;background-image:url(/modules/contrib/admin_toolbar/misc/icons/0074bd/chevron-left.svg);background-repeat:no-repeat;}[dir="rtl"] .toolbar-tray-horizontal ul li.menu-item--expanded .menu-item.hover-intent ul{display:block;margin:-40px 197px 0 0;}[dir="rtl"] .toolbar-tray-horizontal li:hover ul li{float:none;}[dir="rtl"] .toolbar-tray-horizontal li.hover-intent ul li{float:none;}[dir="rtl"] .toolbar-tray-horizontal .toolbar .level-2 > ul{position:absolute;padding-top:0;top:0;left:200px;width:200px;}[dir="rtl"] .toolbar .toolbar-tray-vertical li.open > ul.toolbar-menu.clearfix{display:block;}
.ui-widget{font-family:Arial,Helvetica,sans-serif;font-size:1em;}.ui-widget .ui-widget{font-size:1em;}.ui-widget input,.ui-widget select,.ui-widget textarea,.ui-widget button{font-family:Arial,Helvetica,sans-serif;font-size:1em;}.ui-widget.ui-widget-content{border:1px solid #c5c5c5;}.ui-widget-content{border:1px solid #dddddd;background:#ffffff;color:#333333;}.ui-widget-content a{color:#333333;}.ui-widget-header{border:1px solid #dddddd;background:#e9e9e9;color:#333333;font-weight:bold;}.ui-widget-header a{color:#333333;}.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default,.ui-button,html .ui-button.ui-state-disabled:hover,html .ui-button.ui-state-disabled:active{border:1px solid #c5c5c5;background:#f6f6f6;font-weight:normal;color:#454545;}.ui-state-default a,.ui-state-default a:link,.ui-state-default a:visited,a.ui-button,a:link.ui-button,a:visited.ui-button,.ui-button{color:#454545;text-decoration:none;}.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus,.ui-button:hover,.ui-button:focus{border:1px solid #cccccc;background:#ededed;font-weight:normal;color:#2b2b2b;}.ui-state-hover a,.ui-state-hover a:hover,.ui-state-hover a:link,.ui-state-hover a:visited,.ui-state-focus a,.ui-state-focus a:hover,.ui-state-focus a:link,.ui-state-focus a:visited,a.ui-button:hover,a.ui-button:focus{color:#2b2b2b;text-decoration:none;}.ui-visual-focus{box-shadow:0 0 3px 1px rgb(94,158,214);}.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active,a.ui-button:active,.ui-button:active,.ui-button.ui-state-active:hover{border:1px solid #003eff;background:#007fff;font-weight:normal;color:#ffffff;}.ui-icon-background,.ui-state-active .ui-icon-background{border:#003eff;background-color:#ffffff;}.ui-state-active a,.ui-state-active a:link,.ui-state-active a:visited{color:#ffffff;text-decoration:none;}.ui-state-highlight,.ui-widget-content .ui-state-highlight,.ui-widget-header .ui-state-highlight{border:1px solid #dad55e;background:#fffa90;color:#777620;}.ui-state-checked{border:1px solid #dad55e;background:#fffa90;}.ui-state-highlight a,.ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a{color:#777620;}.ui-state-error,.ui-widget-content .ui-state-error,.ui-widget-header .ui-state-error{border:1px solid #f1a899;background:#fddfdf;color:#5f3f3f;}.ui-state-error a,.ui-widget-content .ui-state-error a,.ui-widget-header .ui-state-error a{color:#5f3f3f;}.ui-state-error-text,.ui-widget-content .ui-state-error-text,.ui-widget-header .ui-state-error-text{color:#5f3f3f;}.ui-priority-primary,.ui-widget-content .ui-priority-primary,.ui-widget-header .ui-priority-primary{font-weight:bold;}.ui-priority-secondary,.ui-widget-content .ui-priority-secondary,.ui-widget-header .ui-priority-secondary{opacity:.7;filter:Alpha(Opacity=70);font-weight:normal;}.ui-state-disabled,.ui-widget-content .ui-state-disabled,.ui-widget-header .ui-state-disabled{opacity:.35;filter:Alpha(Opacity=35);background-image:none;}.ui-state-disabled .ui-icon{filter:Alpha(Opacity=35);}.ui-icon{width:16px;height:16px;}.ui-icon,.ui-widget-content .ui-icon{background-image:url(/core/assets/vendor/jquery.ui/themes/base/images/ui-icons_444444_256x240.png);}.ui-widget-header .ui-icon{background-image:url(/core/assets/vendor/jquery.ui/themes/base/images/ui-icons_444444_256x240.png);}.ui-state-hover .ui-icon,.ui-state-focus .ui-icon,.ui-button:hover .ui-icon,.ui-button:focus .ui-icon{background-image:url(/core/assets/vendor/jquery.ui/themes/base/images/ui-icons_555555_256x240.png);}.ui-state-active .ui-icon,.ui-button:active .ui-icon{background-image:url(/core/assets/vendor/jquery.ui/themes/base/images/ui-icons_ffffff_256x240.png);}.ui-state-highlight .ui-icon,.ui-button .ui-state-highlight.ui-icon{background-image:url(/core/assets/vendor/jquery.ui/themes/base/images/ui-icons_777620_256x240.png);}.ui-state-error .ui-icon,.ui-state-error-text .ui-icon{background-image:url(/core/assets/vendor/jquery.ui/themes/base/images/ui-icons_cc0000_256x240.png);}.ui-button .ui-icon{background-image:url(/core/assets/vendor/jquery.ui/themes/base/images/ui-icons_777777_256x240.png);}.ui-icon-blank{background-position:16px 16px;}.ui-icon-caret-1-n{background-position:0 0;}.ui-icon-caret-1-ne{background-position:-16px 0;}.ui-icon-caret-1-e{background-position:-32px 0;}.ui-icon-caret-1-se{background-position:-48px 0;}.ui-icon-caret-1-s{background-position:-65px 0;}.ui-icon-caret-1-sw{background-position:-80px 0;}.ui-icon-caret-1-w{background-position:-96px 0;}.ui-icon-caret-1-nw{background-position:-112px 0;}.ui-icon-caret-2-n-s{background-position:-128px 0;}.ui-icon-caret-2-e-w{background-position:-144px 0;}.ui-icon-triangle-1-n{background-position:0 -16px;}.ui-icon-triangle-1-ne{background-position:-16px -16px;}.ui-icon-triangle-1-e{background-position:-32px -16px;}.ui-icon-triangle-1-se{background-position:-48px -16px;}.ui-icon-triangle-1-s{background-position:-65px -16px;}.ui-icon-triangle-1-sw{background-position:-80px -16px;}.ui-icon-triangle-1-w{background-position:-96px -16px;}.ui-icon-triangle-1-nw{background-position:-112px -16px;}.ui-icon-triangle-2-n-s{background-position:-128px -16px;}.ui-icon-triangle-2-e-w{background-position:-144px -16px;}.ui-icon-arrow-1-n{background-position:0 -32px;}.ui-icon-arrow-1-ne{background-position:-16px -32px;}.ui-icon-arrow-1-e{background-position:-32px -32px;}.ui-icon-arrow-1-se{background-position:-48px -32px;}.ui-icon-arrow-1-s{background-position:-65px -32px;}.ui-icon-arrow-1-sw{background-position:-80px -32px;}.ui-icon-arrow-1-w{background-position:-96px -32px;}.ui-icon-arrow-1-nw{background-position:-112px -32px;}.ui-icon-arrow-2-n-s{background-position:-128px -32px;}.ui-icon-arrow-2-ne-sw{background-position:-144px -32px;}.ui-icon-arrow-2-e-w{background-position:-160px -32px;}.ui-icon-arrow-2-se-nw{background-position:-176px -32px;}.ui-icon-arrowstop-1-n{background-position:-192px -32px;}.ui-icon-arrowstop-1-e{background-position:-208px -32px;}.ui-icon-arrowstop-1-s{background-position:-224px -32px;}.ui-icon-arrowstop-1-w{background-position:-240px -32px;}.ui-icon-arrowthick-1-n{background-position:1px -48px;}.ui-icon-arrowthick-1-ne{background-position:-16px -48px;}.ui-icon-arrowthick-1-e{background-position:-32px -48px;}.ui-icon-arrowthick-1-se{background-position:-48px -48px;}.ui-icon-arrowthick-1-s{background-position:-64px -48px;}.ui-icon-arrowthick-1-sw{background-position:-80px -48px;}.ui-icon-arrowthick-1-w{background-position:-96px -48px;}.ui-icon-arrowthick-1-nw{background-position:-112px -48px;}.ui-icon-arrowthick-2-n-s{background-position:-128px -48px;}.ui-icon-arrowthick-2-ne-sw{background-position:-144px -48px;}.ui-icon-arrowthick-2-e-w{background-position:-160px -48px;}.ui-icon-arrowthick-2-se-nw{background-position:-176px -48px;}.ui-icon-arrowthickstop-1-n{background-position:-192px -48px;}.ui-icon-arrowthickstop-1-e{background-position:-208px -48px;}.ui-icon-arrowthickstop-1-s{background-position:-224px -48px;}.ui-icon-arrowthickstop-1-w{background-position:-240px -48px;}.ui-icon-arrowreturnthick-1-w{background-position:0 -64px;}.ui-icon-arrowreturnthick-1-n{background-position:-16px -64px;}.ui-icon-arrowreturnthick-1-e{background-position:-32px -64px;}.ui-icon-arrowreturnthick-1-s{background-position:-48px -64px;}.ui-icon-arrowreturn-1-w{background-position:-64px -64px;}.ui-icon-arrowreturn-1-n{background-position:-80px -64px;}.ui-icon-arrowreturn-1-e{background-position:-96px -64px;}.ui-icon-arrowreturn-1-s{background-position:-112px -64px;}.ui-icon-arrowrefresh-1-w{background-position:-128px -64px;}.ui-icon-arrowrefresh-1-n{background-position:-144px -64px;}.ui-icon-arrowrefresh-1-e{background-position:-160px -64px;}.ui-icon-arrowrefresh-1-s{background-position:-176px -64px;}.ui-icon-arrow-4{background-position:0 -80px;}.ui-icon-arrow-4-diag{background-position:-16px -80px;}.ui-icon-extlink{background-position:-32px -80px;}.ui-icon-newwin{background-position:-48px -80px;}.ui-icon-refresh{background-position:-64px -80px;}.ui-icon-shuffle{background-position:-80px -80px;}.ui-icon-transfer-e-w{background-position:-96px -80px;}.ui-icon-transferthick-e-w{background-position:-112px -80px;}.ui-icon-folder-collapsed{background-position:0 -96px;}.ui-icon-folder-open{background-position:-16px -96px;}.ui-icon-document{background-position:-32px -96px;}.ui-icon-document-b{background-position:-48px -96px;}.ui-icon-note{background-position:-64px -96px;}.ui-icon-mail-closed{background-position:-80px -96px;}.ui-icon-mail-open{background-position:-96px -96px;}.ui-icon-suitcase{background-position:-112px -96px;}.ui-icon-comment{background-position:-128px -96px;}.ui-icon-person{background-position:-144px -96px;}.ui-icon-print{background-position:-160px -96px;}.ui-icon-trash{background-position:-176px -96px;}.ui-icon-locked{background-position:-192px -96px;}.ui-icon-unlocked{background-position:-208px -96px;}.ui-icon-bookmark{background-position:-224px -96px;}.ui-icon-tag{background-position:-240px -96px;}.ui-icon-home{background-position:0 -112px;}.ui-icon-flag{background-position:-16px -112px;}.ui-icon-calendar{background-position:-32px -112px;}.ui-icon-cart{background-position:-48px -112px;}.ui-icon-pencil{background-position:-64px -112px;}.ui-icon-clock{background-position:-80px -112px;}.ui-icon-disk{background-position:-96px -112px;}.ui-icon-calculator{background-position:-112px -112px;}.ui-icon-zoomin{background-position:-128px -112px;}.ui-icon-zoomout{background-position:-144px -112px;}.ui-icon-search{background-position:-160px -112px;}.ui-icon-wrench{background-position:-176px -112px;}.ui-icon-gear{background-position:-192px -112px;}.ui-icon-heart{background-position:-208px -112px;}.ui-icon-star{background-position:-224px -112px;}.ui-icon-link{background-position:-240px -112px;}.ui-icon-cancel{background-position:0 -128px;}.ui-icon-plus{background-position:-16px -128px;}.ui-icon-plusthick{background-position:-32px -128px;}.ui-icon-minus{background-position:-48px -128px;}.ui-icon-minusthick{background-position:-64px -128px;}.ui-icon-close{background-position:-80px -128px;}.ui-icon-closethick{background-position:-96px -128px;}.ui-icon-key{background-position:-112px -128px;}.ui-icon-lightbulb{background-position:-128px -128px;}.ui-icon-scissors{background-position:-144px -128px;}.ui-icon-clipboard{background-position:-160px -128px;}.ui-icon-copy{background-position:-176px -128px;}.ui-icon-contact{background-position:-192px -128px;}.ui-icon-image{background-position:-208px -128px;}.ui-icon-video{background-position:-224px -128px;}.ui-icon-script{background-position:-240px -128px;}.ui-icon-alert{background-position:0 -144px;}.ui-icon-info{background-position:-16px -144px;}.ui-icon-notice{background-position:-32px -144px;}.ui-icon-help{background-position:-48px -144px;}.ui-icon-check{background-position:-64px -144px;}.ui-icon-bullet{background-position:-80px -144px;}.ui-icon-radio-on{background-position:-96px -144px;}.ui-icon-radio-off{background-position:-112px -144px;}.ui-icon-pin-w{background-position:-128px -144px;}.ui-icon-pin-s{background-position:-144px -144px;}.ui-icon-play{background-position:0 -160px;}.ui-icon-pause{background-position:-16px -160px;}.ui-icon-seek-next{background-position:-32px -160px;}.ui-icon-seek-prev{background-position:-48px -160px;}.ui-icon-seek-end{background-position:-64px -160px;}.ui-icon-seek-start{background-position:-80px -160px;}.ui-icon-seek-first{background-position:-80px -160px;}.ui-icon-stop{background-position:-96px -160px;}.ui-icon-eject{background-position:-112px -160px;}.ui-icon-volume-off{background-position:-128px -160px;}.ui-icon-volume-on{background-position:-144px -160px;}.ui-icon-power{background-position:0 -176px;}.ui-icon-signal-diag{background-position:-16px -176px;}.ui-icon-signal{background-position:-32px -176px;}.ui-icon-battery-0{background-position:-48px -176px;}.ui-icon-battery-1{background-position:-64px -176px;}.ui-icon-battery-2{background-position:-80px -176px;}.ui-icon-battery-3{background-position:-96px -176px;}.ui-icon-circle-plus{background-position:0 -192px;}.ui-icon-circle-minus{background-position:-16px -192px;}.ui-icon-circle-close{background-position:-32px -192px;}.ui-icon-circle-triangle-e{background-position:-48px -192px;}.ui-icon-circle-triangle-s{background-position:-64px -192px;}.ui-icon-circle-triangle-w{background-position:-80px -192px;}.ui-icon-circle-triangle-n{background-position:-96px -192px;}.ui-icon-circle-arrow-e{background-position:-112px -192px;}.ui-icon-circle-arrow-s{background-position:-128px -192px;}.ui-icon-circle-arrow-w{background-position:-144px -192px;}.ui-icon-circle-arrow-n{background-position:-160px -192px;}.ui-icon-circle-zoomin{background-position:-176px -192px;}.ui-icon-circle-zoomout{background-position:-192px -192px;}.ui-icon-circle-check{background-position:-208px -192px;}.ui-icon-circlesmall-plus{background-position:0 -208px;}.ui-icon-circlesmall-minus{background-position:-16px -208px;}.ui-icon-circlesmall-close{background-position:-32px -208px;}.ui-icon-squaresmall-plus{background-position:-48px -208px;}.ui-icon-squaresmall-minus{background-position:-64px -208px;}.ui-icon-squaresmall-close{background-position:-80px -208px;}.ui-icon-grip-dotted-vertical{background-position:0 -224px;}.ui-icon-grip-dotted-horizontal{background-position:-16px -224px;}.ui-icon-grip-solid-vertical{background-position:-32px -224px;}.ui-icon-grip-solid-horizontal{background-position:-48px -224px;}.ui-icon-gripsmall-diagonal-se{background-position:-64px -224px;}.ui-icon-grip-diagonal-se{background-position:-80px -224px;}.ui-corner-all,.ui-corner-top,.ui-corner-left,.ui-corner-tl{border-top-left-radius:3px;}.ui-corner-all,.ui-corner-top,.ui-corner-right,.ui-corner-tr{border-top-right-radius:3px;}.ui-corner-all,.ui-corner-bottom,.ui-corner-left,.ui-corner-bl{border-bottom-left-radius:3px;}.ui-corner-all,.ui-corner-bottom,.ui-corner-right,.ui-corner-br{border-bottom-right-radius:3px;}.ui-widget-overlay{background:#aaaaaa;opacity:.3;filter:Alpha(Opacity=30);}.ui-widget-shadow{-webkit-box-shadow:0 0 5px #666666;box-shadow:0 0 5px #666666;}
.mentions-input{position:relative;background-color:white;}.mentions-input .input{overflow:hidden;position:relative;}.mentions-input .highlighter{position:absolute;left:0;right:0;color:transparent;overflow:hidden;border-style:solid;border-color:transparent;}.mentions-input .highlighter-content{position:relative;}.mentions-input .highlighter-content strong{font-weight:inherit;background-color:#e6e6e6;display:inline;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);}[data-mention]{background-color:#e6e6e6;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);}
.vote-like,.vote-dislike{display:inline-block;}.vote-like a,.vote-like a:link,.vote-like a:visited,.vote-dislike a,.vote-dislike a:link,.vote-dislike a:visited{background:url(/modules/contrib/like_and_dislike/images/sprite.png) no-repeat;text-indent:-9999px;display:inline-block;border:0;cursor:pointer;width:19px;height:19px;}.vote-like a{background-position:0 0;}.vote-like a.disable-status,.vote-like a.disable-status:hover{background-position:0 0;cursor:auto;}.voted-like{background-position:0 -29px!important;}.vote-like a:hover{background-position:0 -58px;}.vote-dislike a{background-position:-28px 0;}.vote-dislike a.disable-status,.vote-dislike a.disable-status:hover{background-position:-28px 0;cursor:auto;}.voted-dislike{background-position:-28px -29px!important;}.vote-dislike a:hover{background-position:-28px -58px;}
.flag a{border:none;}.flag a:hover{border:none;}
